---
import {Icon} from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import {Image} from "astro:assets";
import logoImage from "~/assets/logo_small.png";
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<ContentSection title="About Us" id="aboutus">
    <Image slot="eyebrow"
           class="size-32"
           src={logoImage}
           widths={widths}
           sizes={sizes}
           loading="eager"
           alt="Barcelona Java User Group Logo"
    />
    <Fragment slot="lead">
        <p>We're a group of geeks from the condal city who want to share
            experiences and knowledge related to the IT world and this
            <span class="text-primary">programming
            language</span>
            that brings us so many laughs and heartaches 😅</p>

        <p>We talk, debate and also organize workshops to practice and put to
            the
            test new technologies.
            In the end, we share experiences related to the IT world, especially
            with <span class="text-primary">Java</span>,
            but not only with this language.</p>

        <p>If you like to discuss, share, ask questions, or just have a good
            time,
            <span class="text-primary">we're open to your suggestions.</span>
        </p>
    </Fragment>

</ContentSection>
